@import "bootstrap-sprockets";
@import "bootstrap";

/* header */
#global-header {
  height: 60px;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  background-color: #fff;
  min-width: 980px;
  z-index: 1000;
  -webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,0.1);
  -moz-box-shadow: 0 0 4px 0 rgba(0,0,0,0.1);
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.1);
  margin-bottom: 50px;
}

#global-header h1{
    float: left;
}

#logo{
  margin-left: 10px;
  font-size: 50px;
  color: #fff;
  background-color: #00A4BB;
}

nav{
  text-align: right;
  overflow: hidden;
  font-weight: bold;
  list-style: none;
  display: inline;
  margin: 0 20px;
  padding: 10px 0;
  text-decoration: none;
}

.nav-left{
  float: left;
}

.nav-right{
  float: right;
}


/* body */
body{
  padding-top: 60px;
}

.post{
  width: 560px;
  height: 524px;
  text-align: center;
  margin: 30px 30px;
  padding: 10px;
  border-bottom: 1px solid #e3e3e3;
}

.side-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  width: 300px;
  color: #fff;
  background: #00A4BB;
  margin-left: 300px;
}

.main-container{
  margin-left: 600px;
}

.form-container{
  text-align: center;
}

img{
  width: 560px;
  height: 228px;
  object-fit: cover;
}

.post-detail{
  width: 980px;
  margin: auto;
  text-align: left;
}

.post-detail img{
  width: 980px;
  height: 400px;
  object-fit: cover;
}

.post p, h1{
  text-align: left;
  font-size: 14px;
}

/* footer */
footer{
  margin-top: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  border-top: 1px solid #e3e3e3;
}
